<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
        <%= csrf_meta_tag %>
    </head>

    <body>

       <h1>Sample App</h1> 
       <p>
       <%= yield %>
       </p>

    </body>
</html>
